@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Luxurious+Roman&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

@theme {
  --color-primary: #e50914;
  --color-primary-dull: #b20710;
}

* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}

body {
  color: white;
  background-color: black;
}

.no-scrollbar{
  scrollbar-width: none;
}